<div>
	<div id="about">
		<h1>ABOUT ME</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ut quos est sed deleniti corporis magni molestias distinctio dolorum, non qui nam perferendis nemo nobis, et repellat mollitia maiores accusantium.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse doloremque, et maxime non, sunt incidunt explicabo recusandae accusantium vel commodi aut rem ipsam nam officia ipsum nobis dolor quidem omnis?</p>
	</div>

	<div class="aboutwrapper">
		<img id="aboutImg1" src="/img/david13.png" height="640" width="450">
		<img id="aboutImg2" src="/img/david10.png">
	</div>
</div>

