<div class="text-right">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Assistant Creative Director</p>
	<p class="lead">Vidal Sassoon Beverly Hills, CA</p>
	<a id='currentclient' class="btn btn-dark" href="/ideas/add"> I'm a current client </a>
</div>