<div>
	<div class="text-right">
		<h1 class="display-3">{{title}}</h1>
		<p class="lead">Assistant Creative Director</p>
		<p class="lead">Vidal Sassoon Beverly Hills, CA</p>
		<a id='currentclient' class="btn btn-dark" href="/ideas/add"> Current Client Press Here</a>
	</div>

	<div id="lineindex1">>
	</div>

	<div id="lineindex2">
	</div>

	<img id='mainImage' src="/img/david-1.jpg">

</div>
