<div class="row" id='registerform'>
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<h3 class="text-center">Account Register</h3>

			<form action="/users/register" method="post">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" name="name" value="{{name}}" required>
				</div>


				<div class="form-group">
					<label for="email">E-mail</label>
					<input type="email" class="form-control" name="email" value="{{email}}" required>
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" name="password" value="{{password}}" required>
				</div>

				<div class="form-group">
					<label for="password">Confirm Password</label>
					<input type="password" class="form-control" name="password2" value="{{password2}}" required>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>

<div id="lineRegister1">
</div>

<div id="lineRegister2">
</div>

<div id="lineRegister3">
</div>

<div id="lineRegister4">
</div>

<div id="lineRegister5">
</div>

<div id="lineRegister6">
</div>

<div class="registerwrapper1">
	<img class="registerImg1" src="/img/david7.jpg" height="640" width="640">
</div>

<div class="registerwrapper2">
	<img class="registerImg2" src="/img/david4.jpg" height="640" width="640">
</div>